@layer components {
  .clean-button {
    @apply border-none bg-none;
  }

  .button {
    @extend .clean-button;
    @apply font-quicksand text-lg font-bold rounded text-white bg-lightseagreen pt-3 pl-10 pb-3 pr-10;
  }
}
