@layer components {
  .footer {
    @apply fixed bottom-0 right-0 p-2 text-center w-80 bg-lightseagreen rounded-tl;

    p {
      @apply text-xs;
    }

    a {
      @apply text-sm font-bold;
    }
  }
}
