@layer components {
  .menu {
    @apply fixed top-0 text-white w-full p-4;
  }

  .menu__ul {
    @apply flex items-center justify-start flex-row flex-wrap;
  }

  .menu__item {
    & + .menu__item {
      @apply ml-5;
    }
  }

  .menu__link {
    @apply text-white text-sm border-b-2 border-transparent;

    &:hover,
    &.active {
      @apply border-white;
    }
  }
}
