extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  // Menu
  +menu('home')

  //- Index page
  .main
    section.page.home__page
      h1.page__title # Index page
      p.btn dfsdf
    section.page1.mt-10
      h1.page__title.text-purple-600(class="hover:text-red-500") # Tailwind
      .btn-blue buttonsfs
